Debug/
Release/
Editor/Debug/
Editor/Release/
*.VC.db
*.VC.opendb
*.vcxproj.filters
*.tlog
*.lastbuildstate
*.pdb
*.ipdb
*.log
*.DS_Store
*.suo
*.sdf
*.vs
*.VC.db
*.VC.VC.opendb
x64/
x86/
Editor/x64/
Editor/x86/
Editor/build
